/* For reference only - plugin loads the minified CSS file */

#cookies-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 99999;
	padding: 10px 20px;
	text-align: center;
	font-size: 14px;
	line-height: 2;
	box-sizing: border-box;
}

#cookies-bar button {
	margin: 0 0 0 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
	display: inline;
	cursor: pointer;
}

#cookies-bar a {
	text-decoration: underline;
	color: inherit;
	font-size: inherit;
}

#cookies-bar a:hover {
	text-decoration: none;
}

#cookies-bar a.privacy-policy {
	margin: 0 0 0 10px;
	display: inline;
}
